
body{
  background-color: black;
}
div{
  text-align: center;
}

img{
  margin-left: auto;
  margin-right: auto;
}
h3,h1,h2,a{
  color: whitesmoke;
}

area{
  cursor: pointer;
}
.MainScreen{
  position: relative;
  
}

.Secret a{
  top: 5px;
  left: 5px;
  position: absolute;
  color: rgba(0,0,0,0);
  
}
.Secret a:hover{
  display: block;
  color: powderblue;
}

#Dialogue{
  bottom: 20px;
  left: 50%;
  position: absolute;
  border: 2px solid black;
  background-color: rgba(0,0,0,0.2);
  padding-left: 10px;
  padding-right: 10px;

  
}

#oImg{
  margin-top: 3%;
  position: relative;
  padding-bottom: 25px;
}
#subtitles{
  align-self: center;
  position: relative;
  color: whitesmoke;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: rgba(0,0,0,0.1);
}

#overlay {
    z-index: 3;
    position: fixed; /* Sit on top of the page content */
    display:none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer; */
}
